body {
	background-color: #fff;
	color: #333;
	background-image:url('/images/1900.jpg');
	background-repeat:no-repeat;
    background-position:50% 20%;
	background-attachment:fixed;

	}

body,ol, ul{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  cursor: move;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  
}

.mm li {
	color:#1B97F2;
	opacity: 0.5;
	}

.mm h3{
   display:block;
    margin:8px 2px 1px;
    color:#fabf30;
    font-size:16px;
    font-weight:bold;
    font-family:"Comic Sans MS";
	}

.gg{
	display:block;
	margin:8px 2px 1px;
	color:#1B97F2;

	}
  .css1 { 
	  font-size: 1.0em; 
	  color:#666666;
	  }
  .css2 { 
	  font-size: 1.2em;
	  color:#FF3333;
	  }
  .css3 { 
	  font-size: 1.4em; 
	  color: #7744FF;
	  }
  .css4 {
	  font-size: 1.6em; 
	  color: #fabf30;
	  }
	  
	.scroll {  
         width: 50%;                                     /* 宽度*/  
         height: 200px;                                  /* 高度*/  
         color: #333;                                        /* 颜色*/  
        font-family: "Comic Sans MS";                                  /*字体*/  
        padding-left: 10px;                             /*层内左边距*/  
         padding-right: 10px;                            /*层内右边距*/  
         padding-top: 10px;                              /*层内上边距*/  
         padding-bottom: 10px;                           /*层内下边距*/  
         overflow-x: scroll;                             /*横向滚动条(scroll:始终出现;auto:必要时出现;具体参考CSS文档)*/  
         overflow-y: scroll;                             /*竖向滚动条*/  
         scrollbar-face-color: #FFFF33;                  /*滚动条滑块颜色*/  
         scrollbar-hightlight-color: #ffffff;                /*滚动条3D界面的亮边颜色*/  
         scrollbar-shadow-color: #919192;                    /*滚动条3D界面的暗边颜色*/  
         scrollbar-3dlight-color: #ffffff;               /*滚动条亮边框颜色*/  
         scrollbar-arrow-color: #FFFF33;                 /*箭头颜色*/  
         scrollbar-track-color: #FFFF33;                 /*滚动条底色*/  
         scrollbar-darkshadow-color: #ffffff;                /*滚动条暗边框颜色*/  
     }  
	 
#ddd {
        width:400px;
        height:200px;
        background:red;
      }
#eee {
        margin:20px;
        width:300px;
        height:100px;
        background:blue;
      }
	  
	  h2 {
        margin:0;
        padding:10px;
        font-weight:500;
        font-size:13px;
        background:#8080C0;
        color:#fff;
      }
      p {
        margin:0;
        text-indent:2em;
        border-bottom:2px solid #a9ea00;
        background:#F2F1D7;
      }
      span.red{
        color:red;
      }